*.a
*.o
.deps/
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/po/*.gmo
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/src/xournal
/stamp-h1
Makefile
Makefile.in
/src/win32/xournal.res
/src/xournal.exe
