[Desktop Entry]
Type=Application

Name=Xournal
Comment=Take handwritten notes
Keywords=tablet;annotation;pen;handwritten;notes;overlay;drawing
Name[fr]=Xournal
Comment[fr]=Prise de notes manuscrites
Name[ca]=Xournal
Comment[ca]=Preneu notes a mà

Exec=xournal %f
Terminal=false
StartupNotify=true
MimeType=application/x-xoj;application/pdf;
Icon=xournal
Categories=GNOME;GTK;Utility;TextEditor;
